@charset "utf-8";

$paragraph-indent: true;
$indent-var: 4;

.page__content {
    text-align: justify;
  }

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials